<h2>Feed</h2>
<div id="new-post">
  <%= link_to new_post_path, class: "btn btn-primary btn-lg" do %>
    New post
  <% end %>
<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>
<ul>
  <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
</div>
<% @posts.reverse.each do |post| %>
  <div class='post' id='<%=post.id%>'>
    <% @user = User.where(id: post.user_id)[0] %> 
    <p><%= link_to "#{@user.first_name} #{@user.surname}", user_wall_path(@user) %></p>
    <p><%= post.message.html_safe %></p>
    <p><%= post.created_at.strftime('%d %B %Y at %k:%M') %></p>
    <% if signed_in? %>
      <% if Like.where(user_id: current_user.id, post_id: post.id).length == 0 %>
        <%= form_with(model: @like, local: true, url: likes_path) do |like| %>
        <%= hidden_field_tag "like[user_id]", current_user.id %>
        <%= hidden_field_tag "like[post_id]", post.id %>
        <div class="likes">
          <button type="submit" name="commit" class="btn btn-primary" id="like-btn">
            <i class="fas fa-thumbs-up"></i>
          </button>
          <%= Like.where(post_id: post.id).length %>
        </div>
        <% end %>
      <% else %>
        <%= form_with(model: @like, local: true, :method => :delete, url: like_path({id: Like.where(user_id: current_user.id, post_id: post.id)[0].id})) do |like| %>
        <%= hidden_field_tag "like[user_id]", current_user.id %>
        <%= hidden_field_tag "like[post_id]", post.id %>
        
        <div class="likes">
          <button type="submit" name="commit" class="btn btn-primary" id="unlike-btn">
            <i class="fas fa-thumbs-down"></i>
          </button>
          <%= Like.where(post_id: post.id).length %>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'Comment', posts_path, class: "comment-btn btn btn-primary comment-btn-#{post.id}" %>
    <%= link_to 'Show Comments', posts_path, class: "show-comments-btn btn btn-primary show-comments-btn-#{post.id}" %>
    <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
    <div class='comments' id="comment-<%= post.id %>"> 
      <div class='comment-form'>
        <%= render 'comments_form', comment: @comment, post: post %>
      </div>
    </div>
    <div class='comments' id="show-comments-<%= post.id %>"> 
      <% Comment.where(post_id: post.id).reverse.each do |comment| %>
        <% user = User.where(id: comment.user_id)[0] %>
        <div class="comment">
          <p class="comment-user"> <%= user.first_name %> <%= user.surname %> </p>
          <p class="comment-message"> <%= comment.message %> </p>
          <p class="comment-time"> <%= comment.created_at.strftime('%d %B %Y at %k:%M') %> </p>
          <%= link_to 'Edit Comment', edit_comment_path(comment), class: "btn btn-primary" %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
