<h1><%= @user.first_name %>'s Wall</h1>

<%= form_for @post do |form| %>
  <div class="field">
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit "Post" %>
  </div>

  <%= hidden_field_tag "post[receiver_id]", "#{@user.id}" %>

<% end %>


<% @posts.reverse.each do |post| %>
  <div class='post' id='<%=post.id%>'>
  <% @user = User.where(id: post.user_id)[0] %>
  <p><%= link_to "#{@user.first_name} #{@user.surname}", user_wall_path(@user) %></p>
  <p><%= post.message.html_safe %></p>
  <p><%= post.created_at.strftime('%d %B %Y at %k:%M') %></p>
  <%= link_to 'Delete', post_path(post), method: :delete %>
  <%= link_to 'Edit', edit_post_path(post) %>
  </div>
<% end %>
